
/*body {background-color: #F0EAD6;}*/
  body {
    background-image: url("backG.jpg");
  }
h1  {color: rgb(128, 0, 83);}
p   {color: black;}

.thing {
    background-color: tomato;
    color: white;
    border: 2px solid black;
    margin: 20px;
    padding: 20px;

    border-style: outset;
    border-width: 10px;
}


.fancy{
    font-family: "Sofia", "sans-serif";
    text-align: center;

}

  

  #link1 {
    
    text-align: center;
    color: black;
    border-style: solid;
    border-color: black;
    margin: 50px;
  }
 
  a:link, a:visited {
    background-color: #f44336;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;

  }
  
  a:hover, a:active {
    background-color: red;
  }

  img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  }


  .tryDiv {



  }