
/*body {background-color: #F0EAD6;}*/
  body {
    background-image: url("backG.jpg");
  }
h1  {color: rgb(128, 0, 83);}
p   {color: black;}
.thing {
    background-color: tomato;
    color: white;
    border: 2px solid black;
    margin: 20px;
    padding: 20px;
  }

  img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  }
