
body {background-color: #F0EAD6;}
h1  {color: green;}
p   {color: black;}
.thing {
    background-color: tomato;
    color: white;
    border: 2px solid black;
    margin: 20px;
    padding: 20px;
  }

  p.center {
    text-align: center;
  }